#search {
    border: none;
    width: 8rem;
}

input#search:focus{
    outline: none !important;
    box-shadow: none;
}

.searchDiv{
    border: solid 1px #C2D634;
    border-radius: 3px;
    /* background-color: white; */
}

.searchDiv input {
    font-size: 10px;
}

.icon{
    height: 2rem;
    margin-left: .25rem;
    float:left;
    background-color: white;
}

.icon2{
    height: 3.5rem;
}

.navBar{
    /* background-image:linear-gradient(rgb(66, 66, 66), rgb(29, 29, 29)); */
    background-color: #F9F9F9;
    box-shadow: 0px .025rem .8rem .05rem rgba(32, 32, 32,.3);
    z-index: 90;
}

.searchInputGroup {
    padding-right: 0 !important;
}