body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    margin: 50px 0 10px;
  }
  .link {
    display: inline-block;
    margin-bottom: 50px;
  }
  .button {
    display: inline-block;
    width: 100%;
      font-size: 18px;
    height: 30vh;
    position: absolute;
    bottom: 58px; 
  }
  .button-small {
    padding: 5px 10px;  
    font-size: 12px;
  }
  .toggled {
      background-color: #ffffff;
      position: relative;
      top: -365px;
      bottom: -300px;
      height:90vh !important;
  }
  button {
    margin-top: 80px;
  }
  #moverBtn{
    background-color: transparent;
    border-radius: 50px;
    border: none;
    color: white;
    text-align: center;
    margin: auto;
    display: inline-block;
  }
  #moverBtn:focus{
    outline: none;
  }

  .imageArrow {
background-image: url('../images/wyfy-arrow.svg');
    height: 50px;
    width: 50px;
    margin-bottom: -35px;
    margin-top: 20px;
  }
  
  
  .imgtoggle{
    background-image: url('../images/wyfy-arrowDown.svg') !important;
    height: 50px;
    width: 50px;
    margin-top: 1px !important;

  }