@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

/* 
dark-green: #6DB43D;
light-green: #C2D634;
navy: #1E3679;
orange: #F96F3B;
grey: #CDD4D1;
white: #F9F9F9;

header: 'Nova Mono', sans-serif;
sub-header: 'Open Sans', sans-serif;
paragraph: 'Open Sans', sans-serif;
*/

body {
    height: 100vh;
}

h1 {
    font: 45% 'Nova Mono', sans-serif;
    color: #6DB43D;
}

h2, h3, h4, h5, h6  {
    font-family: 'Open Sans', sans-serif;
    color: #C2D634;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #1E3679;
}

ul li {
    list-style: none;
}

.map-flexbox {
    display: flex;
    justify-content: center;
    padding: 1.1rem;
    height: 27.6rem;
    background-image:linear-gradient(white, #F9F9F9);
    box-shadow: 0px .025rem .8rem .05rem rgba(32, 32, 32,.3);
}

.main-map {
    max-width: 90%;
    max-height: 55%;
    margin: auto;
    border-radius: 4px;
    border: 2px solid #C2D634;    
}
/*    P STYLING IS SUBJECT TO CHANGE WITH BACKGROUND   */

.margin-top {
    width: 90%;
    margin: auto;
    overflow: auto;
    height: 12rem;
    margin-top: 1.1rem;
}

.margin-top ul {
    padding: 0;
}

.map-size {
    height: 400px;
    overflow: hidden;
}